@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);


.body{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-left: 280px;
   }

.bodyBottom{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

.headerSection{
    display: flex;
    max-height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: none;
    margin-left: 0px;
}


.headerText{
    display: flex;
    font-family: 'Jeju Hallasan', cursive;    
    justify-content: center;
    margin-bottom: 11px;
}

.informSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width:90%;
    background-color: #BCBCBC;
    border-radius: 15px;
    margin-bottom: 15px;
}

.informSection p{
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


.h1WhoWeAre{
    
    
    margin-top: 2px;
    margin-bottom: 0px;
}


.contactMap iframe{
    display: flex;
    border: 0px solid;
    border-radius: 15px 15px 0px 15px;
    
}
.mapSector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    min-width: fit-content;
    height: fit-content;
    border-radius: 15px 15px 15px 15px;
    margin: 5%;
    
    background-color: #BCBCBC;
        
}

.mapSectorB{
    display: flex;
    flex-direction: row;
}

.contactMap{
    display: flex;
    flex-direction: column;
    
    border-right: 2px solid black;
    border-radius: 0px 0px 0px 0px;
    
}

.mapH{
    text-align: center;
    background-color: #BCBCBC;
    font-size: 36px;
    left: 950px;
    margin: 0px;
    border-radius: 15px;
    
    
    
    
}

.ContactH{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.list-of-details{
    display: flex;
    flex-direction: column;
    flex:1 ;

    
}

.LD{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.ConDetH{
    display: flex;
    justify-content: center;
    align-items: center;
    
    letter-spacing: 2px;
    font-size: larger;
}

.ConDetH h2{
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
}



.list{
    
    
}

.list ul{
    
    list-style-type: none;
    margin-left: 0px ;
    padding-inline-start: 0px;
}

.list li{
    padding: 15px;
    font-size: 20px;
    
}

.FeedbackSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #BCBCBC;
    margin-top: 15px;
    border-radius: 15px;
    width: 90%;
}

.FeedbackSection h1{
    text-align: center;
    margin-top: 0cm;
    font-weight: 800;
    font-size: 64px;
}

.feedbackForm{
    max-height:80%;
    display : flex;
    align-items:center;
    justify-content: center;
    
    height: 680px;
    border-radius: 15px;
}