.navigation-bar {
    position: fixed;
    width: 250px;
    background-color: #d9d9d9;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
    margin-top: 0;
    text-align: center;
    
}
    
.RedLinks {
  list-style-type: none;
  padding: 0;
}
    
.RedLinks a {
  text-align: center;
  text-decoration: none;
  color: rgb(245, 245, 245);
  
  margin-bottom: 25px;

  font-size: 14px;
  position: relative;
  left: 0px;
  right: 0px;
  display: flex;
  padding: 15px ;
  justify-content: center;
  background-color: #FF6C6C;
  
  border: 2px solid #000000;
  border-color: #000000;
  outline: none;
  transform: skewX(-20deg); /* Skew the button */
}

.RedLinks :hover{
  background-color: #e60606;
}



/*.HotButtons a {
  position: relative;
  left: 2px;
  right: 2px;
  padding: 15px 73px;
  display: inline-block;
  background-color: #FF6C6C;
  color: #fff;
  border: 2px solid #000000;
  border-color: #000000;
  outline: none;
  transform: skewX(-20deg);
}
*/

    /*for best selling, new releases page and for hot deals page */
/*.BestSelButton {
  position: relative;
  left: 2px;
  right: 2px;
  display: flex;
  padding: 15px 73px;
  background-color: #FF6C6C;
  color: rgb(0, 0, 0);
  border: 2px solid #000000;
  border-color: #000000;
  outline: none;
  transform: skewX(-20deg); /* Skew the button 
  }*/


.DefaultLinks{
  list-style-type: none;
  padding: 0;
  margin-top: 75px;
}

.DefaultLinks a{

  display: flex;
  position: relative;
  border: solid;
  border-color: 2px #000000;
  margin-bottom: 25px;

  /*text*/
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  left: 0px;
  right: 0px;
  padding: 15px ;
  justify-content: center;
  outline: none;
  white-space: nowrap;
  /*text*/
  /*border*/

  /*border*/
}




.DefaultLinks :hover{
  background-color: #888888;
}

.Contact{
  display: flex;
  position: relative;
  border: solid;
  padding: 0px;
  margin-top: 90px;
}

